# **NUMPY 함수 작성**


*   기본적인 numpy array 작성
*   array 연산 진행

In [ ]:
#리스트 생성
import numpy as np
ex = [1,9,-50,100]

#numpy array 변환 및 연산
ex_1 = np.array(ex)
ex_2 = ex_1 + 70
print(ex_1)
print(ex_2)
type(ex_1)

[  1   9 -50 100]
[ 71  79  20 170]

numpy.ndarray

array간 연산

In [ ]:
diff = ex_2-ex_1
sum = ex_1+ex_2
multi = ex_1*ex_2
div = ex_2/ex_1
print(diff)
print(sum)
print(multi)
print(div)

[70 70 70 70]
[ 72  88 -30 270]
[   71   711 -1000 17000]
[71.          8.77777778 -0.4         1.7       ]

2차 배열 만들기

In [ ]:
#2차 배열 생성
ex_2d = [diff, sum, multi, div]
print(ex_2d)
#2차 numpy array 생성 및 data type 변경
ex_2d_arr = np.array((ex_2d), dtype = np.int64)
print(ex_2d_arr)
print(ex_2d_arr[1])
print(ex_2d_arr[0][2])

[array([70, 70, 70, 70]), array([ 72,  88, -30, 270]), array([   71,   711, -1000, 17000]), array([71.        ,  8.77777778, -0.4       ,  1.7       ])]
[[   70    70    70    70]
 [   72    88   -30   270]
 [   71   711 -1000 17000]
 [   71     8     0     1]]
[ 72  88 -30 270]
70

In [ ]:
#4*4 무작위 행렬 생성
arr1 = np.random.randint(0,20, size=(4,4))
print(arr1)

[[ 2 19 11  4]
 [ 1  8  8 12]
 [ 6 16  4 18]
 [17  3  8  5]]

In [ ]:
#arr1 전치행렬 생성
arr2 = arr1.transpose()
print(arr2)

[[ 2  1  6 17]
 [19  8 16  3]
 [11  8  4  8]
 [ 4 12 18  5]]

행렬곱 계산

In [ ]:
arr1@arr2

array([[502, 290, 432, 199],
       [290, 273, 382, 165],
       [432, 382, 632, 272],
       [199, 165, 272, 387]])

주요 통계값 확인

In [ ]:
print(arr2.max())
print(arr2.min())
print(arr2.std())
print(arr2.var())
print(arr2.mean())
print(arr2.sum())
print(arr2.cumsum())

19
1
5.775757526073961
33.359375
8.875
142
[  2   3   9  26  45  53  69  72  83  91  95 103 107 119 137 142]

특정 위치 출력

In [ ]:
print(arr2[:3])
print(arr2[:1])
print(arr2[1:3])
print(arr2[:])

[[ 2  1  6 17]
 [19  8 16  3]
 [11  8  4  8]]
[[ 2  1  6 17]]
[[19  8 16  3]
 [11  8  4  8]]
[[ 2  1  6 17]
 [19  8 16  3]
 [11  8  4  8]
 [ 4 12 18  5]]

In [ ]:
arr2.shape

(4, 4)

In [ ]:
arr3=np.linspace(1,10, num=19)
print(arr3)

[ 1.   1.5  2.   2.5  3.   3.5  4.   4.5  5.   5.5  6.   6.5  7.   7.5
  8.   8.5  9.   9.5 10. ]

차원 변경하기

In [ ]:
#1차원 추가하기
arr4 = np.expand_dims(arr2,1)
print(arr4)
print(arr4.shape)
#차원 삭제
arr4=arr4.squeeze(1)
print(arr4)
print(arr4.shape)
#형태 변경
arr4 = np.arange(16).reshape(2,8)
print(arr4)
print(arr4.shape)
#순서 변경
arr5 = arr4.transpose(1,0)
print(arr5)
print(arr5.shape)

[[[ 2  1  6 17]]

 [[19  8 16  3]]

 [[11  8  4  8]]

 [[ 4 12 18  5]]]
(4, 1, 4)
[[ 2  1  6 17]
 [19  8 16  3]
 [11  8  4  8]
 [ 4 12 18  5]]
(4, 4)
[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]]
(2, 8)
[[ 0  8]
 [ 1  9]
 [ 2 10]
 [ 3 11]
 [ 4 12]
 [ 5 13]
 [ 6 14]
 [ 7 15]]
(8, 2)

# Pandas 함수 작성


*   dictionary 및 dataframe 활용
*   colab 연동
*   외부파일 읽기 및 쓰기

In [ ]:
#pandas 선언
import pandas as pd
#dictionary 생성
co = pd.Series({'이름':'홍길동','키':174,'몸무게':70})
print(co,type(co))

이름     홍길동
키      174
몸무게     70
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
#dataframe 생성
cop=[
     {'이름':'홍길동','키':174,'몸무게':70},
     {'이름':'홍일점','키':164,'몸무게':60},
     {'이름':'홍진규','키':184,'몸무게':90}
     ]
cop_df=pd.DataFrame(cop)
cop_df

    이름    키  몸무게
0  홍길동  174   70
1  홍일점  164   60
2  홍진규  184   90

In [ ]:
cop_df.to_csv('cop.csv', encoding = 'cp949')
cop_df.to_csv('cop_n.csv', encoding = 'cp949', index = False)
co.to_csv('co.csv', encoding='cp949')
co.to_csv('co_n.csv', encoding='cp949', index = False)

In [ ]:
co=pd.read_csv('co.csv', encoding = 'cp949')
co

   Unnamed: 0    0
0           0  홍길동
1           1  174
2           2   70

In [ ]:
co=pd.read_csv('co_n.csv', encoding = 'cp949')
co

     0
0  홍길동
1  174
2   70

In [ ]:
c=pd.read_csv('cop_n.csv', encoding = 'cp949')
c

    이름    키  몸무게
0  홍길동  174   70
1  홍일점  164   60
2  홍진규  184   90

colab 확인

In [ ]:
!ls
!pwd

co.csv	co_n.csv  cop.csv  cop_n.csv  sample_data
/content

In [ ]:
#구글 드라이브 연동
from google.colab import drive
drive.mount('/d')

Mounted at /d

In [ ]:
!ls /d

MyDrive  Shareddrives

In [ ]:
!ls /d/MyDrive

'머신러닝 딥러닝 입문'		    LME-EV3_Full-setup_1.4.5_ko-KR_WIN32.exe
'AD1 수업진행관련 설문조사.gform'   영어전용.PNG
'Adventure design2(소홍윤).zip'     Untitled0.ipynb
'Colab Notebooks'

In [ ]:
!ls /d/MyDrive/'머신러닝 딥러닝 입문'

과제  강의자료	report.txt

In [ ]:
D = pd.read_csv('/d/MyDrive/머신러닝 딥러닝 입문/report.txt', sep='\t')
D

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
0,컬럼1,서울시,성별,성별,연령별,연령별,연령별,연령별,연령별,연령별,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
1,컬럼1,서울시,남자,여자,10대,20대,30대,40대,50대,60대 이상,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,운동을 할 충분한 시간이 없어서,46.8,52.4,42.5,55.3,46,59.9,54.1,46.1,26.6,...,38.5,45.3,53.6,50.2,39.1,44.4,49.9,40.7,47.6,47
3,함께 운동을 할 사람이 없어서,5,4.4,5.6,4.8,4.2,5.2,3.9,6.2,6,...,3.8,5.7,2.4,6.7,13.9,8.8,4.3,4.2,5,5.2
4,운동을 할 만한 장소가 없어서,4.3,4.9,3.9,3.9,4.5,2.9,2.9,4.5,6.6,...,1.9,5.8,2.3,3.8,8.4,5.5,4.1,2,2.3,4.8
5,운동을 싫어해서,37.3,32.4,41,32.6,38.8,27.3,35.5,36.8,48.7,...,50.5,39,37.6,33.9,31.1,34.2,36.6,46.4,39.4,32.4
6,운동을 할 충분한 비용이 없어서,5.2,4.9,5.4,3.5,6.4,4.5,3.3,5.6,6.6,...,4.3,2.9,2.3,5.4,7.6,6.1,3.3,5.2,4.8,8.4
7,기타,1.4,1.1,1.7,-,0.1,0.2,0.4,0.8,5.6,...,1,1.3,1.7,-,-,1,1.8,1.6,1,2.3

In [ ]:
D.head()

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
0,컬럼1,서울시,성별,성별,연령별,연령별,연령별,연령별,연령별,연령별,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
1,컬럼1,서울시,남자,여자,10대,20대,30대,40대,50대,60대 이상,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,운동을 할 충분한 시간이 없어서,46.8,52.4,42.5,55.3,46,59.9,54.1,46.1,26.6,...,38.5,45.3,53.6,50.2,39.1,44.4,49.9,40.7,47.6,47
3,함께 운동을 할 사람이 없어서,5,4.4,5.6,4.8,4.2,5.2,3.9,6.2,6,...,3.8,5.7,2.4,6.7,13.9,8.8,4.3,4.2,5,5.2
4,운동을 할 만한 장소가 없어서,4.3,4.9,3.9,3.9,4.5,2.9,2.9,4.5,6.6,...,1.9,5.8,2.3,3.8,8.4,5.5,4.1,2,2.3,4.8

In [ ]:
D.tail(2)

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
6,운동을 할 충분한 비용이 없어서,5.2,4.9,5.4,3.5,6.4,4.5,3.3,5.6,6.6,...,4.3,2.9,2.3,5.4,7.6,6.1,3.3,5.2,4.8,8.4
7,기타,1.4,1.1,1.7,-,0.1,0.2,0.4,0.8,5.6,...,1,1.3,1.7,-,-,1,1.8,1.6,1,2.3

In [ ]:
D[1:3]

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
1,컬럼1,서울시,남자,여자,10대,20대,30대,40대,50대,60대 이상,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,운동을 할 충분한 시간이 없어서,46.8,52.4,42.5,55.3,46,59.9,54.1,46.1,26.6,...,38.5,45.3,53.6,50.2,39.1,44.4,49.9,40.7,47.6,47

In [ ]:
D.describe()

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
count,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
unique,7,7,7,8,8,8,8,8,8,7,...,7,7,6,7,7,7,7,7,7,7
top,컬럼1,서울시,4.9,성별,연령별,연령별,연령별,연령별,연령별,6.6,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
freq,2,2,2,1,1,1,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2

In [ ]:
D.dtypes

컬럼1        object
2019       object
2019.1     object
2019.2     object
2019.3     object
2019.4     object
2019.5     object
2019.6     object
2019.7     object
2019.8     object
2019.9     object
2019.10    object
2019.11    object
2019.12    object
2019.13    object
2019.14    object
2019.15    object
2019.16    object
2019.17    object
2019.18    object
2019.19    object
2019.20    object
2019.21    object
2019.22    object
2019.23    object
2019.24    object
2019.25    object
2019.26    object
2019.27    object
2019.28    object
2019.29    object
2019.30    object
2019.31    object
2019.32    object
2019.33    object
2019.34    object
2019.35    object
2019.36    object
2019.37    object
2019.38    object
2019.39    object
2019.40    object
2019.41    object
2019.42    object
2019.43    object
2019.44    object
2019.45    object
2019.46    object
2019.47    object
2019.48    object
2019.49    object
2019.50    object
2019.51    object
dtype: object

In [ ]:
D1=D.transpose()
D1.head()

,0,1,2,3,4,5,6,7
컬럼1,컬럼1,컬럼1,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
2019,서울시,서울시,46.8,5,4.3,37.3,5.2,1.4
2019.1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2019.2,성별,여자,42.5,5.6,3.9,41,5.4,1.7
2019.3,연령별,10대,55.3,4.8,3.9,32.6,3.5,-

In [ ]:
D1.describe()

          0    1     2    3    4     5    6   7
count    53   53    53   53   53    53   53  53
unique   33   53    51   36   38    48   36  28
top     연령별  컬럼1  44.5  4.3  3.9  32.4  5.3   -
freq      6    1     2    4    3     2    3   6

In [ ]:
D1.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
dtype: object